body{
    height: 100vh;
    font-size: 16px; 
}

div.contenedor-principal{
    margin: 0 auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    border: 3px solid #f70f0f;
}

div.contenedor-principal .chat{
    border: 1px solid #f70f0f;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 15%;
    background-color: #8033FF;
    color:#FFFFFF;
}

div.contenedor-principal .contenedor_conver{
    border: 1px solid #f70f0f;
    height: 100%;
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.contenedor_conver .conver{
    width: 100%;
    height: 100%;
    background-color: #b9ffb0
}

div.conver #form_message{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

#form_message input{
    width: 90%;
    flex-grow: 2;
}

#form_message button{
    flex-basis: 10%;
    height: 2em;
}

/*Estilos visuales*/
#titulo_{
    margin: 0;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
    border-bottom: 1.2px solid #FFFFFF;
    line-height: 1.5em;
}

.textarea
{
    height:3%;
    width:91%;
    background-color:#d4fccf;
    resize:none;
    float:left;
}

.chat div {
    display: block;
    font-size: 1.2em;
    border-top: 0.5px solid #FFFFFF;
    border-bottom: 0.5px solid #FFFFFF;
    cursor: pointer;
}

.no-mostrar
{
    display: flex;
    display: none;
    
    flex-direction: column;
}


